/****************************
    Skills
****************************/
.skills {
    &--content {
        padding-left: 45px;
        @media #{$d-lg} {
            padding-left: 0;
        }
        @media #{$d-md} {
            padding-left: 0;
        }
        @media #{$d-xs} {
            padding-left: 0;
        }
    }
    &--thumb {
        overflow: hidden;
    }
    &:hover .skills--thumb img {
        transform: scale(1.01) rotate(2deg);
    }
    .progress {
        height: 3px;
        font-size: 18px;
        background-color: #ececec;
        border-radius: 0;
    }

    .progress-bar span {
        color: $black;
        position: absolute;
        top: 0;
        right: 0;
        font-weight: 700;
        font-size: 18px;
        @include transition(.6s);
        font-family: 'Bebas Neue';
    }

    .progress-bar {
        background-color: $theme-color;
    }

    .progress-border {
        padding: 5px 0px;
        border: 1px solid transparent;
        border-radius: 30px;
    }
}