// Font Family
$ssp: 'Source Sans Pro';

// Colors
$white: #ffffff;
$black: #222222;
$pure-black: #000;
$grey:#7a7a7a;
$grey-bg:#f6f6f6;
$theme-color: #ef6330;
$light: #a1a1a1;
$light-soft: #c6c6c6;
$line: #dedede;

// Background Color
$bg-slider: #1f1a18;

// Heading Color
$heading-color: #222;

// Soft color
$black-soft:#6a6a6a;
$black-oil:#141414;
$black-moju:#131517;
$grey-soft:#acacac;

// Border Color
$border-color: #3d3d3d;
$border-soft: #4f4f4f;
$border-black: #4b4b4b;
$border-review: #3f3f3f;
$border-grey: #d8d8d8;



// Responsive Variables
$d-lax: 'only screen and (min-width: 1601px) and (max-width: 1829px)';
$d-la: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$d-dt: 'only screen and (min-width: 1201px) and (max-width: 1334px)';
$d-lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$d-md:'only screen and (min-width: 768px) and (max-width: 991px)';
$d-xs:'(max-width: 767px)';
$d-sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
